<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10" style="font-size: large;">
    <p-calendar
      [(ngModel)]="dates"
      [monthNavigator]="true"
      [yearNavigator]="true"
      yearRange="2000:2500"
      [inline]="true"
      [locale]="ru"
    >
      <ng-template pTemplate="date" let-date>
        <cc-calendar-cell [date]="getStoredDate(date)" (click)="onCellClick($event, getStoredDate(date))">
        </cc-calendar-cell>
      </ng-template>
    </p-calendar>

    <p-slideMenu [model]="items"
                 [popup]="true"
                 [viewportHeight]="125"
                 effectDuration="1000"
                 easing="ease-in">
    </p-slideMenu>
  </div>
</div>
